gninapaperspell.utf-8.add*
main.*
!main.tex
# LaTeX
main.pdf
supplement.pdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
acs-main.bib
acs-supplement.bib

# editors
.vscode

# macOS
.DS_Store
